.summary-card {
    border: 1px solid #e5e7eb;
    border-radius: 20px !important;
    background: #fafbff;

    &__header {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 1.5rem;

        svg {
            color: #6366f1;
            font-size: 2rem;
        }

        h5 {
            font-weight: 700;
            color: #111827;
        }
    }

    &__description {
        color: #4b5563;
        line-height: 1.9;
        font-size: 1rem;
        white-space: pre-line;
    }
}