.google-login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    @media (max-width: 440px) {
        justify-content: center;
    }
}